.App-logo {
  height: 150px;
  justify-content: left;
  align-self: left;
}
h1 {
  color: #e62d2d;
  align-self: center;
}

.App-header {
  padding-top: 160px;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  border-bottom-style: solid;
  border-color: #e62d2d;
}
