.Notifications {
    padding: 10px;
    border: 1px dashed #ec1717;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
}
li[data-priority="default"] {
    color: rgb(4, 4, 177)
}
li[data-priority="urgent"] {
    color: red
}