.App-logo {
  height: 150px;
  justify-content: left;
  align-self: left;
  margin-bottom: 10px;
}
h1 {
  color: #e62d2d;
  align-self: center;
  font-size: xx-large;
}

.App-header {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  border-bottom-style: solid;
  border-color: #e62d2d;
  margin-top: 10px;
}
