.Notifications {
  padding: 10px;
  padding-top: 0px;
  border: 1.5px dashed #ec1717;
  position: fixed;
  right: 5px;
  top: 45px;
  width: 350px;
  height: 105px;
  font-size: 15px;
}
.menuItem {
  margin-right: 3px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 10px;
}

.default-notif {
  color: rgb(4, 4, 177); 
}

.urgent-notif {
  color: red;
}
